# CODEOWNERS
#
# documentation for this file can be found at:
# https://help.github.com/en/articles/about-code-owners

# These are the default owners for the code and will
# be requested for review when someone opens a pull request.
# order is alphabetical for easier maintenance.
#
# Abhilash (abhi16394)
# Abrar Basha (mbasha-dell)
# Alik Saring (alikdell)
# Bharath Sreekanth (bharathsreekanth)
# Chiman Jain (chimanjain)
# Coulombel Florian (coulof)
# Deepak Ghivari (Deepak-Ghivari)
# Gallacher Sean (gallacher)
# Harish H  (HarishH-DELL)
# Jacob Grosner (JacobGros)
# Jooseppi Luna (jooseppi-luna)
# Karthik K (karthikk92)
# Kumar Karthik Gosa (kumarkgosa)
# Keerthi Bandapati (bandak2)
# Matt Schmaelzle (mjsdell)
# Nitesh Rewatkar (nitesh3108)
# Prabhu Revur (prabhu-dell)
# Rajendra Indukuri (rajendraindukuri)
# Rajkumar Palani (rajkumar-palani)
# Rensy Thomas (rensyct)
# Shefali Malhotra (shefali-malhotra)
# Spandita Panigrahi (panigs7)
# Trevor Dawe (tdawe)
# Shayna Finocchiaro (shaynafinocchiaro)
# Aaron Tye (atye)
# Sharmila Ramamoorthy (sharmilarama)
# Yamunadevi N Shanmugam (shanmydell)

# for all files:
* @abhi16394 @mbasha-dell @alikdell @bharathsreekanth @chimanjain @coulof @Deepak-Ghivari @gallacher @HarishH-DELL @JacobGros @jooseppi-luna @karthikk92 @kumarkgosa @bandak2 @mjsdell @nitesh3108 @prabhu-dell @rajendraindukuri @rajkumar-palani @rensyct @shefali-malhotra @panigs7 @tdawe @shaynafinocchiaro @atye @sharmilarama @shanmydell
