# CODEOWNERS
#
# documentation for this file can be found at:
# https://help.github.com/en/articles/about-code-owners

# These are the default owners for the code and will
# be requested for review when someone opens a pull request.
# order is alphabetical for easier maintenance.
#
# Abhilash (abhi16394)
# Alik Saring (alikdell)
# Bharath Sreekanth (bharathsreekanth)
# Coulombel Florian (coulof)
# Deepak Ghivari (Deepak-Ghivari)
# Gallacher Sean (gallacher)
# Jacob Grosner (JacobGros)
# Jai Kumar (nb950)
# Jooseppi Luna (jooseppi-luna)
# Karthik K (karthikk92)
# Keerthi Bandapati (bandak2)
# Matt Schmaelzle (mjsdell)
# Michael Edegware (medegw01)
# Rajendra Indukuri (rajendraindukuri)
# Rensy Thomas (rensyct)
# Spandita Panigrahi (panigs7)
# Trevor Dawe (tdawe)
# Yifei Jin (yifeijin)

# for all files:
* @abhi16394 @alikdell @bharathsreekanth @coulof @Deepak-Ghivari @gallacher @JacobGros @nb950 @jooseppi-luna @karthikk92 @bandak2 @mjsdell @medegw01 @rajendraindukuri @rensyct @panigs7 @tdawe @yifeijin
