# CODEOWNERS
#
# documentation for this file can be found at:
# https://help.github.com/en/articles/about-code-owners

# These are the default owners for the code and will
# be requested for review when someone opens a pull request.
# order is alphabetical for easier maintenance.
#
# Abhilash (abhi16394)
# Abrar Basha (mbasha-dell)
# Akshay Saini (AkshaySainiDell)
# Chiman Jain (chimanjain)
# Christian Coffield (ChristianAtDell)
# Evgeny Uglov (EvgenyUglov)
# Fernando Alfaro Campos (falfaroc)
# Florian Coulombel (coulof)
# Harish P  (harishp8889)
# Jacob Grosner (JacobGros)
# Karthik K (karthikk92)
# Kumar Karthik Gosa (kumarkgosa)
# Meghana M (meggm)
# Mukesh Gandharva (mgandharva)
# Nitesh Rewatkar (nitesh3108)
# Rajendra Indukuri (rajendraindukuri)
# Rishabh Raj (rishabhatdell)
# Trevor Dawe (tdawe)

# for all files:
* @abhi16394 @mbasha-dell @AkshaySainiDell @chimanjain @ChristianAtDell @EvgenyUglov @falfaroc @coulof @harishp8889 @JacobGros @karthikk92 @kumarkgosa @meggm @mgandharva @nitesh3108 @rajendraindukuri @rishabhatdell @tdawe