# Driver Type
powerscale:
  # List of Driver versions and modules that supports the version
  v2.13.0:
    authorization: "v2.1.0"
    replication: "v1.11.0"
    observability: "v1.11.0"
    resiliency: "v1.12.0"
  v2.14.0:
    authorization: "v2.2.0"
    replication: "v1.12.0"
    observability: "v1.12.0"
    resiliency: "v1.13.0"
  v2.15.0:
    authorization: "v2.3.0"
    replication: "v1.13.0"
    observability: "v1.13.0"
    resiliency: "v1.14.0"  
  v2.15.1:
    authorization: "v2.3.0"
    replication: "v1.13.0"
    observability: "v1.13.1"
    resiliency: "v1.14.0"
powerflex:
  # List of Driver versions and modules that supports the version
  v2.13.0:
    authorization: "v2.1.0"
    replication: "v1.11.0"
    observability: "v1.11.0"
    resiliency: "v1.12.0"
  v2.14.0:
    authorization: "v2.2.0"
    replication: "v1.12.0"
    observability: "v1.12.0"
    resiliency: "v1.13.0"
  v2.14.1:
    authorization: "v2.2.0"
    replication: "v1.12.0"
    observability: "v1.12.0"
    resiliency: "v1.13.0"
  v2.15.0:
    authorization: "v2.3.0"
    replication: "v1.13.0"
    observability: "v1.13.0"
    resiliency: "v1.14.0"    
  v2.15.1:
    authorization: "v2.3.0"
    replication: "v1.13.0"
    observability: "v1.13.1"
    resiliency: "v1.14.0"
powerstore:
  # List of Driver versions and modules that supports the version
  v2.13.0:
    resiliency: "v1.12.0"
  v2.14.0:
    resiliency: "v1.13.0"
  v2.14.1:
    resiliency: "v1.13.0"
  v2.15.0:
    resiliency: "v1.14.0"
    authorization: "v2.3.0"
    observability: "v1.13.0"  
  v2.15.1:
    resiliency: "v1.14.0"
    authorization: "v2.3.0"
    observability: "v1.13.1"
powermax:
  # List of Driver versions and modules that supports the version
  v2.13.0:
    csireverseproxy: "v2.12.0"
    authorization: "v2.1.0"
    replication: "v1.11.0"
    observability: "v1.11.0"
    resiliency: "v1.12.0"
  v2.14.0:
    csireverseproxy: "v2.13.0"
    authorization: "v2.2.0"
    replication: "v1.12.0"
    observability: "v1.12.0"
    resiliency: "v1.13.0"
  v2.14.1:
    csireverseproxy: "v2.13.1"
    authorization: "v2.2.0"
    replication: "v1.12.0"
    observability: "v1.12.0"
    resiliency: "v1.13.0"
  v2.15.0:
    csireverseproxy: "v2.14.0"
    authorization: "v2.3.0"
    replication: "v1.13.0"
    observability: "v1.13.0"
    resiliency: "v1.14.0"    
  v2.15.1:
    csireverseproxy: "v2.14.1"
    authorization: "v2.3.0"
    replication: "v1.13.0"
    observability: "v1.13.1"
    resiliency: "v1.14.0"
