apiVersion: apps/v1
kind: Deployment
metadata:
  name: controller-manager
  namespace: system
  labels:
    control-plane: controller-manager
spec:
  selector:
    matchLabels:
      control-plane: controller-manager
  replicas: 1
  template:
    metadata:
      labels:
        control-plane: controller-manager
      annotations:
        storage.dell.com/CSMVersion: v1.12.0
    spec:
      serviceAccountName: manager-service-account
      securityContext:
        runAsNonRoot: true
      containers:
        - command:
            - /manager
          args:
            - --leader-elect
          image: controller:latest
          imagePullPolicy: Always
          name: manager
          env:
            - value: quay.io/dell/container-storage-modules/dell-csm-operator:v1.7.0
              name: RELATED_IMAGE_dell-csm-operator
            - value: quay.io/dell/container-storage-modules/csi-isilon:v2.12.0
              name: RELATED_IMAGE_csi-isilon
            - value: quay.io/dell/container-storage-modules/csi-powermax:v2.12.0
              name: RELATED_IMAGE_csi-powermax
            - value: quay.io/dell/container-storage-modules/csipowermax-reverseproxy:v2.11.0
              name: RELATED_IMAGE_csipowermax-reverseproxy
            - value: quay.io/dell/container-storage-modules/csi-powerstore:v2.12.0
              name: RELATED_IMAGE_csi-powerstore
            - value: quay.io/dell/container-storage-modules/csi-unity:v2.12.0
              name: RELATED_IMAGE_csi-unity
            - value: quay.io/dell/container-storage-modules/csi-vxflexos:v2.12.0
              name: RELATED_IMAGE_csi-vxflexos
            - value: docker.io/dellemc/sdc:4.5.2.1
              name: RELATED_IMAGE_sdc
            - name: RELATED_IMAGE_csm-authorization-sidecar
              value: quay.io/dell/container-storage-modules/csm-authorization-sidecar:v2.0.0
            - name: RELATED_IMAGE_csm-authorization-proxy
              value: quay.io/dell/container-storage-modules/csm-authorization-proxy:v2.0.0
            - name: RELATED_IMAGE_csm-authorization-tenant
              value: quay.io/dell/container-storage-modules/csm-authorization-tenant:v2.0.0
            - name: RELATED_IMAGE_csm-authorization-role
              value: quay.io/dell/container-storage-modules/csm-authorization-role:v2.0.0
            - name: RELATED_IMAGE_csm-authorization-storage
              value: quay.io/dell/container-storage-modules/csm-authorization-storage:v2.0.0
            - name: RELATED_IMAGE_csm-authorization-controller
              value: quay.io/dell/container-storage-modules/csm-authorization-controller:v2.0.0
            - value: quay.io/dell/container-storage-modules/dell-csi-replicator:v1.10.0
              name: RELATED_IMAGE_dell-csi-replicator
            - value: quay.io/dell/container-storage-modules/dell-replication-controller:v1.10.0
              name: RELATED_IMAGE_dell-replication-controller-manager
            - value: quay.io/dell/container-storage-modules/csm-topology:v1.10.0
              name: RELATED_IMAGE_topology
            - value: docker.io/otel/opentelemetry-collector:0.42.0
              name: RELATED_IMAGE_otel-collector
            - value: quay.io/dell/container-storage-modules/csm-metrics-powerscale:v1.7.0
              name: RELATED_IMAGE_metrics-powerscale
            - value: quay.io/dell/container-storage-modules/csm-metrics-powermax:v1.5.0
              name: RELATED_IMAGE_metrics-powermax
            - value: quay.io/dell/container-storage-modules/csm-metrics-powerflex:v1.10.0
              name: RELATED_IMAGE_metrics-powerflex
            - value: quay.io/dell/container-storage-modules/podmon:v1.11.0
              name: RELATED_IMAGE_podmon-node
            - value: registry.redhat.io/openshift4/ose-kube-rbac-proxy-rhel9:v4.16.0-202409051837.p0.g8ea2c99.assembly.stream.el9
              name: RELATED_IMAGE_kube-rbac-proxy
            - value: registry.k8s.io/sig-storage/csi-attacher:v4.7.0
              name: RELATED_IMAGE_attacher
            - value: registry.k8s.io/sig-storage/csi-provisioner:v5.1.0
              name: RELATED_IMAGE_provisioner
            - value: registry.k8s.io/sig-storage/csi-snapshotter:v8.1.0
              name: RELATED_IMAGE_snapshotter
            - value: registry.k8s.io/sig-storage/csi-node-driver-registrar:v2.12.0
              name: RELATED_IMAGE_registrar
            - value: registry.k8s.io/sig-storage/csi-resizer:v1.12.0
              name: RELATED_IMAGE_resizer
            - value: registry.k8s.io/sig-storage/csi-external-health-monitor-controller:v0.13.0
              name: RELATED_IMAGE_externalhealthmonitorcontroller
            - value: quay.io/dell/container-storage-modules/csi-metadata-retriever:v1.9.0
              name: RELATED_IMAGE_metadataretriever
          securityContext:
            allowPrivilegeEscalation: false
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8081
            initialDelaySeconds: 15
            periodSeconds: 20
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8081
            initialDelaySeconds: 5
            periodSeconds: 10
          resources:
            limits:
              cpu: 200m
              memory: 512Mi
            requests:
              cpu: 100m
              memory: 192Mi
      terminationGracePeriodSeconds: 10
