# permissions for end users to edit containerstoragemodules.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: containerstoragemodule-editor-role
rules:
- apiGroups:
  - storage.dell.com
  resources:
  - containerstoragemodules
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - storage.dell.com
  resources:
  - containerstoragemodules/status
  verbs:
  - get
